{% extends "ui/layout_2_col.html" %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

<body>
    {% block content_main %}

        <section class="main-slider" data-start-height="500" data-slide-overlay="yes">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="/static/ui/images/main-slider/image-3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="left" data-hoffset="500"
                        data-y="center" data-voffset="-80"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><div class="title">Up To <span>40%</span> Discount</div></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="left" data-hoffset="500"
                        data-y="center" data-voffset="-50"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><h2>Hot Deal Products<br> <span>boys collections</span></h2></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="left" data-hoffset="500"
                        data-y="center" data-voffset="30"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><div class="text-slide">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br> Aenean commodo ligula eget dolor. Aenean mas</div></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="left" data-hoffset="500"
                        data-y="center" data-voffset="100"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="contact.html" class="theme-btn btn-style-one">SHOP NOW</a></div>

                        </li>

                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/static/ui/images/main-slider/image-3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                        <img src="/static/ui/images/main-slider/image-3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="left" data-hoffset="500"
                        data-y="center" data-voffset="-80"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><div class="title">Up To <span>40%</span> Discount</div></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="left" data-hoffset="500"
                        data-y="center" data-voffset="-50"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><h2>Hot Deal Products<br> <span>boys collections</span></h2></div>

                        <div class="tp-caption sfr sfb tp-resizeme"
                        data-x="left" data-hoffset="500"
                        data-y="center" data-voffset="30"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><div class="text-slide">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br> Aenean commodo ligula eget dolor. Aenean mas</div></div>

                        <div class="tp-caption sfl sfb tp-resizeme"
                        data-x="left" data-hoffset="500"
                        data-y="center" data-voffset="100"
                        data-speed="1500"
                        data-start="0"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="contact.html" class="theme-btn btn-style-one">SHOP NOW</a></div>

                        </li>

                    </ul>

                </div>
            </div>
        </section>
        <!--End Main Slider-->
	    <div class="clearfix"></div>

    {% endblock %}
</body>
</html>