{% extends "ui/layout.html" %}
{% load category_tags %}
{% load i18n %}

{% block content_wrapper %}
	{% block content %}
		{% block content_header %}

			<!-- Preloader -->
			<!--<div id="preloader">
				<div id="loading">
				</div>
			</div>-->

			<!-- Main Header-->
			<header class="main-header">

				<!--Header Top-->
				<div class="header-top">
				<div class="auto-container">
				<div class="clearfix">
				<div class="top-left">
				<ul class="clearfix">
					<li><span class="icon fa fa-whatsapp"></span>+91 9717353657</li>
					<li><span class="icon fa fa fa-envelope-o"></span><a href="mailto:contact@legalisor.com">contact@gurukulsankalp.com</a></li>
				</ul>
				</div>
				<div class="top-right clearfix">
				<ul class="clearfix">

					<li class="language dropdown">
						<a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">
							<span class="icon"></span> English <span class="icon fa fa-angle-down"></span>
						</a>
						<ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
							<li><a href="#">English</a></li>
							<!--<li><a href="#">Hindi</a></li>-->
						</ul>
					</li>

					<li class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">₹ INR <span class="icon fa fa-angle-down"></span></a>
						<ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu3">
							<li><a href="#">INR</a></li>
						</ul>
					</li>

					{% if user.is_authenticated %}
					{% block nav_account_navbar_authenticated %}
					<li>
					<span class="icon fa fa-sign-in"></span><a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
					</li>
					{% endblock %}
					{% else %}
					<li><span class="icon fa fa-sign-in"></span><a id="login_link" href="{% url 'customer:login' %}"><i class="icon-signin"></i>
					{% trans "Login or register" %}</a></li>
					{% endif %}

				</ul>
				</div>
				</div>
				</div>
				</div>

				<!--Header-Upper-->
				<div class="header-upper">
				<div class="auto-container">
				<div class="clearfix">

				<div class="pull-left logo-outer">
				<div class="logo"><a href="/"><img src="/static/ui/images/logo.png" alt="" title=""></a></div>
				</div>

				<div class="pull-right upper-right clearfix">
				<!--header search box-->
				<div class="header-search-box">

					<div class="form-box default-form light">
						<form method="get" action="{% url 'search:search' %}">

							<div class="row clearfix">
								<div class="form-group col-md-12 col-sm-12 col-xs-12">
									<div class="field-inner"><input class="search" type="text" name="q" value="" id="id_q" placeholder="Search For keywords... " required></div>
									<div class="field-inner">

									</div>
									<div class="field-inner">
										<button type="submit" class="theme-btn btn-style-one"><span class="fa fa-search"></span></button>
									</div>
								</div>

							</div>
						</form>
					</div>

				</div>

				</div>

				</div>
				</div>
				</div>
				<!--End Header Upper-->

				<!--Header Lower-->
				<div class="header-lower">

				<div class="auto-container">

				<div class="main-menu menu-category">

				<ul class="clearfix">
				<li class="current"><a href="#"><span class="icon fa fa-align-justify"></span> &ensp;ALL CATEGORIES</a>
					<ul class="mega-menu">



						<li class="dropdown"><a href="#"><span class="icon fa fa-mobile"></span>Mobile</a>
							<div class="menu-options">
								<div class="row clearfix">
									<div class="column col-md-4 col-sm-6 col-xs-12">
										<h3>Women's</h3>
										<ul class="list-style-three">
											<li><a href="#">Dresses</a></li>
											<li><a href="#">Coats & Jackets</a></li>
											<li><a href="#">Blouses & Shirts</a></li>
											<li><a href="#">Tops & Tees</a></li>
											<li><a href="#">Hoodies & Sweatshirts</a></li>
											<li><a href="#">Intimates</a></li>
											<li><a href="#">Swimwear</a></li>
											<li><a href="#">Pants & Capris</a></li>
											<li><a href="#">Sweaters</a></li>
											<li><a href="#">Accessories</a></li>
										</ul>
									</div>
									<div class="column col-md-4 col-sm-6 col-xs-12">
										<h3>Men's</h3>
										<ul class="list-style-three">
											<li><a href="#">Dresses</a></li>
											<li><a href="#">Coats & Jackets</a></li>
											<li><a href="#">Blouses & Shirts</a></li>
											<li><a href="#">Tops & Tees</a></li>
											<li><a href="#">Hoodies & Sweatshirts</a></li>
											<li><a href="#">Intimates</a></li>
											<li><a href="#">Swimwear</a></li>
											<li><a href="#">Pants & Capris</a></li>
											<li><a href="#">Sweaters</a></li>
											<li><a href="#">Accessories</a></li>
										</ul>
									</div>
									<div class="image-column col-md-4 col-sm-6 col-xs-12">
										<div class="image">
											<img src="/static/ui/images/product.jpg" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="dropdown"><a href="#"><span class="icon fa fa-laptop"></span>Computer</a>
							<div class="menu-options">
								<div class="row clearfix">
									<div class="column col-md-4 col-sm-6 col-xs-12">
										<h3>Laptops</h3>
										<ul class="list-style-three">
											<li><a href="#">Ram</a></li>
											<li><a href="#">Harddrive</a></li>
											<li><a href="#">Flash</a></li>
											<li><a href="#">Accessories</a></li>
											<li><a href="#">Chargers</a></li>
										</ul>
									</div>
									<div class="column col-md-4 col-sm-6 col-xs-12">
										<h3>Cpu's</h3>
										<ul class="list-style-three">
											<li><a href="#">Monitors</a></li>
											<li><a href="#">Cpu</a></li>
											<li><a href="#">i-3</a></li>
											<li><a href="#">i-5</a></li>
											<li><a href="#">Accessories</a></li>
										</ul>
									</div>
									<div class="image-column col-md-4 col-sm-6 col-xs-12">
										<div class="image">
											<img src="/static/ui/images/laptop.jpg" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>



				{% category_tree as tree_categories %}
				{% if tree_categories %}
				{% for tree_category in tree_categories %}

				<li><a href="{{ tree_category.url }}"><span class="icon fa"></span>{{ tree_category.name }}</a></li>


							  {% if tree_category.has_children %}<ul>{% else %}</li>{% endif %}
				{% for n in tree_category.num_to_close %}
					</ul></li>
				{% endfor %}
				{% endfor %}
				{% endif %}


					</ul>
				</li>
				</ul>

				</div>

				<div class="nav-outer clearfix">

				<!-- Main Menu -->
				<nav class="main-menu">
				<div class="navbar-header">
					<!-- Toggle Button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<div class="navbar-collapse collapse clearfix">
					<ul class="navigation clearfix">
						<li class="current dropdown"><a href="/">HOME</a>

						</li>
						<li><a href="/catalogue/">SHOPS</a></li>
						<li><a href="/">DEALS</a></li>
<li><a href="/">BLOG</a></li>

<li><a href="/">ABOUT US</a></li>

						<li><a href="/">CONTACT US</a></li>
					</ul>
				</div>
				</nav>


				<ul class="options-box">

				<!-- Main Menu End-->
				<li class="search-box-outer">



					<div class="dropdown">
						<button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-shopping-cart"></span></button>

						<ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu1">
							{% include "ui/partials/basket_quick.html" %}
						</ul>
					</div>
				</li>

				</ul>

				</div>

				</div>
				</div>
				<!--End Header Lower-->

			</header>
			<!--End Main Header -->

		{% endblock %}

{% block content_main %}
{% endblock %}
				{% block content_2 %}



					<!--Call To Action Section-->
	<section class="call-to-action-section" style="background-image:url(/static/ui/images/bg-1.jpg);">
    	<div class="auto-container">
        	<h2>DON'T MISS OUT OUR OFFERS</h2>
            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. AeneanAenean commodo ligula eget dolor. Aeneanolor. AeneanAenean commodo ligula eget dolor. Aeneanolor. AeneanAenean</div>
            <a href="#" class="learn">learn more</a>
        </div>
    </section>










				    <!--Categories Section-->
    <section class="categories-section">
    	<h2>featured <span>categories</span></h2>

        <div class="categories-inner">
        	<div class="four-item-carousel owl-carousel owl-theme">
                <!--category block-->
                <div class="categories-block">
                    <div class="inner-box" style="background-image:url(/static/ui/images/cateory-1.jpg);">
                        <div class="content">
                            <h3><a href="#">Category Title</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</div>
                        </div>
                    </div>
                </div>

                <!--category block-->
                <div class="categories-block">
                    <div class="inner-box" style="background-image:url(/static/ui/images/cateory-2.jpg);">
                        <div class="content">
                            <h3><a href="#">Category Title</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</div>
                        </div>
                    </div>
                </div>

                <!--category block-->
                <div class="categories-block">
                    <div class="inner-box" style="background-image:url(/static/ui/images/cateory-3.jpg);">
                        <div class="content">
                            <h3><a href="#">Category Title</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</div>
                        </div>
                    </div>
                </div>

                <!--category block-->
                <div class="categories-block">
                    <div class="inner-box" style="background-image:url(/static/ui/images/cateory-4.jpg);">
                        <div class="content">
                            <h3><a href="#">Category Title</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</div>
                        </div>
                    </div>
                </div>

                <!--category block-->
                <div class="categories-block">
                    <div class="inner-box" style="background-image:url(/static/ui/images/cateory-1.jpg);">
                        <div class="content">
                            <h3><a href="#">Category Title</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</div>
                        </div>
                    </div>
                </div>

                <!--category block-->
                <div class="categories-block">
                    <div class="inner-box" style="background-image:url(/static/ui/images/cateory-2.jpg);">
                        <div class="content">
                            <h3><a href="#">Category Title</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</div>
                        </div>
                    </div>
                </div>

                <!--category block-->
                <div class="categories-block">
                    <div class="inner-box" style="background-image:url(/static/ui/images/cateory-3.jpg);">
                        <div class="content">
                            <h3><a href="#">Category Title</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</div>
                        </div>
                    </div>
                </div>

                <!--category block-->
                <div class="categories-block">
                    <div class="inner-box" style="background-image:url(/static/ui/images/cateory-4.jpg);">
                        <div class="content">
                            <h3><a href="#">Category Title</a></h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</div>
                        </div>
                    </div>
                </div>
             </div>
        </div>

    </section>
    <!--End Categories Section-->

    <!--Brands Section-->
    <section class="brands-section">
    	<div class="auto-container">
        	<h2>TOP <span>BRANDS</span></h2>
            <div class="img-column col-md-6 col-sm-6 col-xs-12">

                <div class="clearfix">
                	<div class="image-column col-md-8 col-sm-8 col-xs-12">
                    	<div class="image">
                        	<div class="grey-overley"></div>
                        	<img src="/static/ui/images/brand-img-1.jpg" alt="" />
                        </div>
                        <div class="content">
                        	<div class="text">Trending Now</div>
                            <h2>LOAFERS</h2>
                        </div>
                    </div>
                    <div class="image-column col-md-4 col-sm-4 col-xs-12">
                    	<div class="image">
                        	<div class="grey-overley-two"></div>
                        	<img src="/static/ui/images/brand-img-2.jpg" alt="" />
                        </div>
                        <div class="content two">
                        	<div class="text">New in</div>
                            <h2>DRESSES</h2>
                            <div class="text">Find the one</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column col-md-6 col-sm-6 col-xs-12">
            	<div class="row clearfix">
                	<div class="column-inner col-md-4 col-sm-6 col-xs-12">
                    	<div class="brand-img">
                        	<a href="#"><img src="/static/ui/images/brand-1.png" alt="" /></a>
                            <div class="overlay-box">
                            	<div class="content">
                                	50<br>Coupen Available
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-inner col-md-4 col-sm-6 col-xs-12">
                    	<div class="brand-img">
                        	<a href="#"><img src="/static/ui/images/brand-2.png" alt="" /></a>
                            <div class="overlay-box">
                            	<div class="content">
                                	50<br>Coupen Available
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-inner col-md-4 col-sm-6 col-xs-12">
                    	<div class="brand-img">
                        	<a href="#"><img src="/static/ui/images/brand-3.png" alt="" /></a>
                            <div class="overlay-box">
                            	<div class="content">
                                	50<br>Coupen Available
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-inner col-md-4 col-sm-6 col-xs-12">
                    	<div class="brand-img">
                        	<a href="#"><img src="/static/ui/images/brand-1.png" alt="" /></a>
                            <div class="overlay-box">
                            	<div class="content">
                                	50<br>Coupen Available
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-inner col-md-4 col-sm-6 col-xs-12">
                    	<div class="brand-img">
                        	<a href="#"><img src="/static/ui/images/brand-2.png" alt="" /></a>
                            <div class="overlay-box">
                            	<div class="content">
                                	50<br>Coupen Available
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column-inner col-md-4 col-sm-6 col-xs-12">
                    	<div class="brand-img">
                        	<a href="#"><img src="/static/ui/images/brand-3.png" alt="" /></a>
                            <div class="overlay-box">
                            	<div class="content">
                                	50<br>Coupen Available
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands Section-->














				    <!--Latest News Section-->
    <section class="latest-news-section" style="background-image:url(/static/ui/images/bg-2.jpg);">
    	<div class="auto-container">
        	<div class="title-boxed">
            	<h2>LATEST <span>NEWS</span></h2>
                <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.g elit. Aenean commodo ligula eget dolor. Aenean massa.o ligula eget dolor. Aenean massa.g elit. Aenean commodo lmassa.g elit. Aenean commodo l</div>
            </div>
            <div class="three-item-carousel owl-carousel owl-theme clearfix">

                <!-- upcoming-box -->
                <div class="upcoming-box style-two">
                    <!-- upcoming-image -->
                    <div class="upcoming-image">
                        <img src="/static/ui/images/news-1.jpg" alt="events-img" />
                        <!-- ranking-clock -->
                        <div class="ranking-clock">
                            <!-- event-date -->
                            <div class="event-date">
                                apr 29
                            </div>
                            <!-- /event-date -->

                            <!-- /hart-icon -->
                            <!-- rating-bg -->
                            <div class="rating-bg">
                                <div class="star">
                                    <div class="total-coment"><span class="icon fa fa-comment-o"></span> 12</div>
                                </div>
                                <div class="price prices-cats">
                                    Sports
                                </div>
                            </div>
                            <!-- /rating-bg -->
                        </div>
                        <!-- /ranking-clock -->
                    </div>
                    <!-- /upcoming-image -->
                    <!-- upcoming-text -->
                    <div class="upcoming-text">
                        <div class="row">
                            <div class="col-md-8">
                                <strong>The Rose & Party</strong>
                                <p>party</p>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                Buy Ticket
                            </a>
                            </div>
                        </div>
                    </div>
                    <!-- /upcoming-text -->
                </div>
                <!-- /upcoming-box -->


                <!-- upcoming-box -->
                <div class="upcoming-box style-two">
                    <!-- upcoming-image -->
                    <div class="upcoming-image">
                        <img src="/static/ui/images/news-2.jpg" alt="events-img" />
                        <!-- ranking-clock -->
                        <div class="ranking-clock">
                            <!-- event-date -->
                            <div class="event-date">
                                apr 29
                            </div>
                            <!-- /event-date -->

                            <!-- /hart-icon -->
                            <!-- rating-bg -->
                            <div class="rating-bg">
                                <div class="star">
                                    <div class="total-coment"><span class="icon fa fa-comment-o"></span> 12</div>
                                </div>
                                <div class="price prices-cats">
                                    People
                                </div>
                            </div>
                            <!-- /rating-bg -->
                        </div>
                        <!-- /ranking-clock -->
                    </div>
                    <!-- /upcoming-image -->
                    <!-- upcoming-text -->
                    <div class="upcoming-text">
                        <div class="row">
                            <div class="col-md-8">
                                <strong>The Rose & Party</strong>
                                <p>party</p>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                Buy Ticket
                            </a>
                            </div>
                        </div>
                    </div>
                    <!-- /upcoming-text -->
                </div>
                <!-- /upcoming-box -->


                <!-- upcoming-box -->
                <div class="upcoming-box style-two">
                    <!-- upcoming-image -->
                    <div class="upcoming-image">
                        <img src="/static/ui/images/news-3.jpg" alt="events-img" />
                        <!-- ranking-clock -->
                        <div class="ranking-clock">
                            <!-- event-date -->
                            <div class="event-date">
                                apr 29
                            </div>
                            <!-- /event-date -->

                            <!-- /hart-icon -->
                            <!-- rating-bg -->
                            <div class="rating-bg">
                                <div class="star">
                                    <div class="total-coment"><span class="icon fa fa-comment-o"></span> 12</div>
                                </div>
                                <div class="price prices-cats">
                                    Lifestyle
                                </div>
                            </div>
                            <!-- /rating-bg -->
                        </div>
                        <!-- /ranking-clock -->
                    </div>
                    <!-- /upcoming-image -->
                    <!-- upcoming-text -->
                    <div class="upcoming-text">
                        <div class="row">
                            <div class="col-md-8">
                                <strong>The Rose & Party</strong>
                                <p>party</p>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                Buy Ticket
                            </a>
                            </div>
                        </div>
                    </div>
                    <!-- /upcoming-text -->
                </div>
                <!-- /upcoming-box -->

            </div>
        </div>
    </section>
    <!--End Latest News Section-->






				    <!--Month Category-->
    <section class="month-category">
    	<div class="auto-container">
        	<h2>TOP CATEGORIES <span>THIS MONTH</span></h2>
            <div class="row clearfix">

                <!--Month Category-->
                <div class="month-cats col-md-4 col-sm-6 col-xs-12">
                	<div class="inner">
                    	<div class="image">
                        	<a href="#"><img src="/static/ui/images/category-1.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<h3><a href="#">Fashion</a></h3>
                            <ul>
                            	<li>Women’s Boots</li>
                                <li>Women’s Casual Shoes</li>
                                <li>Women’s Flats</li>
                                <li>Men’s Casual Shoes</li>
                            </ul>
                            <a href="#" class="see-all">See all <span class="icon fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--Month Category-->
                <div class="month-cats col-md-4 col-sm-6 col-xs-12">
                	<div class="inner">
                    	<div class="image">
                        	<a href="#"><img src="/static/ui/images/category-2.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<h3><a href="#">homeware</a></h3>
                            <ul>
                            	<li>Women’s Boots</li>
                                <li>Women’s Casual Shoes</li>
                                <li>Women’s Flats</li>
                                <li>Men’s Casual Shoes</li>
                            </ul>
                            <a href="#" class="see-all">See all <span class="icon fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--Month Category-->
                <div class="month-cats col-md-4 col-sm-6 col-xs-12">
                	<div class="inner">
                    	<div class="image">
                        	<a href="#"><img src="/static/ui/images/category-3.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<h3><a href="#">beauty & health</a></h3>
                            <ul>
                            	<li>Women’s Boots</li>
                                <li>Women’s Casual Shoes</li>
                                <li>Women’s Flats</li>
                                <li>Men’s Casual Shoes</li>
                            </ul>
                            <a href="#" class="see-all">See all <span class="icon fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Month Category-->











				    <!--Our Clients-->
    <section class="our-clients-section">
    	<h2>our <span>clients</span></h2>
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-1.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-2.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-3.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-4.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-5.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-6.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-1.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-2.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-3.jpg" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="/static/ui/images/client-4.jpg" alt=""></a></figure></li>
            </ul>
        </div>
    </section>
    <!--Our Clients-->






   <section class="all-info-section" style="background-image:url(/static/ui/images/bg-3.jpg);">
    	<div class="auto-container">
        	<!--info blocked-->
        	<div class="info-blocked col-md-3 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="icon-box"><span class="icon fa fa-diamond"></span></div>
                	<h3>Guaranteed Quality</h3>
                    <div class="text">Lorem ipsum dolor sit amet, nsectetuer adipiscing emassa.</div>
                    <a href="#" class="read-more">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--info blocked-->
        	<div class="info-blocked col-md-3 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="icon-box"><span class="icon fa fa-lock"></span></div>
                	<h3>Safe Payment</h3>
                    <div class="text">Lorem ipsum dolor sit amet, nsectetuer adipiscing emassa.</div>
                    <a href="#" class="read-more">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--info blocked-->
        	<div class="info-blocked col-md-3 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="icon-box"><span class="icon fa fa-globe"></span></div>
                	<h3>Fast Shipping</h3>
                    <div class="text">Lorem ipsum dolor sit amet, nsectetuer adipiscing emassa.</div>
                    <a href="#" class="read-more">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--info blocked-->
        	<div class="info-blocked col-md-3 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="icon-box"><span class="icon fa fa-thumbs-up"></span></div>
                	<h3>24/7 Customer</h3>
                    <div class="text">Lorem ipsum dolor sit amet, nsectetuer adipiscing emassa.</div>
                    <a href="#" class="read-more">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--info blocked-->
        	<div class="info-blocked col-md-3 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="icon-box"><span class="icon fa fa-globe"></span></div>
                	<h3>Fast Shipping</h3>
                    <div class="text">Lorem ipsum dolor sit amet, nsectetuer adipiscing emassa.</div>
                    <a href="#" class="read-more">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--info blocked-->
        	<div class="info-blocked col-md-3 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="icon-box"><span class="icon fa fa-thumbs-up"></span></div>
                	<h3>24/7 Customer</h3>
                    <div class="text">Lorem ipsum dolor sit amet, nsectetuer adipiscing emassa.</div>
                    <a href="#" class="read-more">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--info blocked-->
        	<div class="info-blocked col-md-3 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="icon-box"><span class="icon fa fa-diamond"></span></div>
                	<h3>Guaranteed Quality</h3>
                    <div class="text">Lorem ipsum dolor sit amet, nsectetuer adipiscing emassa.</div>
                    <a href="#" class="read-more">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

            <!--info blocked-->
        	<div class="info-blocked col-md-3 col-sm-6 col-xs-12">
            	<div class="inner-box">
                	<div class="icon-box"><span class="icon fa fa-lock"></span></div>
                	<h3>Safe Payment</h3>
                    <div class="text">Lorem ipsum dolor sit amet, nsectetuer adipiscing emassa.</div>
                    <a href="#" class="read-more">Read More <span class="icon fa fa-angle-right"></span></a>
                </div>
            </div>

        </div>
    </section>

				    <!--subscriber section-->
    <section class="subscriber-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<div class="column col-md-6 col-sm-12 col-xs-12">
                	<h2>SUBSCRIBE <span>TO OUR NEWSLETTER</span></h2>
                </div>
                <div class="column col-md-6 col-sm-12 col-xs-12">
                	 <div class="emailed-form">
                        <form method="post" action="http://xentora.com/kobone-html/contact.html">
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Enter Email" required>
                                <button type="submit" class="theme-btn">submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



				{% endblock %}







				{% block footer %}
					{% include "ui/partials/footer.html" %}
				{% endblock %}
	{% endblock %}
{% endblock %}