<!-- jQuery -->
<script src="/static/ui/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/ui/js/bootstrap.min.js"></script>
<script src="/static/ui/js/bootstrap-dropdownhover.min.js"></script>
<!-- Plugin JavaScript -->
<script src="/static/ui/js/jquery.easing.min.js"></script>
<script src="/static/ui/js/jquery.fittext.js"></script>
<!--<script src="/static/ui/js/wow.min.js"></script>-->
<!--  countTo JavaScript  -->

<script src="/static/ui/js/jquery.bxslider.js"></script>
<script src="/static/ui/js/revolution.min.js"></script>
<script type="text/javascript" src="/static/ui/js/jquery.countTo.js"></script>
<!--  Custom Theme JavaScript  -->
<!--<script src="/static/ui/js/custom.js"></script>-->
<script src="/static/ui/js/owl.js"></script>
<script src="/static/ui/js/script.js"></script>
<!-- owl carousel -->
<!--<script src="/static/ui/owl-carousel/owl.carousel.js"></script>-->