    <footer>
		<div class="footer">
			<div class="container">
				<div class="row">

					<div class="col-md-3">
						<h2>CONNECT</h2>
						<ul>
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Help center</a></li>
							<li><a href="#">Find an Expert</a></li>
						</ul>
					</div>

                    <div class="col-md-3">
						<h2>CAREERS </h2>
						<ul>
							<li><a href="#">Jobs</a></li>
							<li><a href="#">Internship Opportunities</a></li>
							<li><a href="#">Part Time Jobs</a></li>
						</ul>
					</div>

                    <div class="col-md-3">
						<h2>NEWS & MEDIA </h2>
						<ul>
							<li><a href="#">Photos & Videos</a></li>
							<li><a href="#">Press Releases</a></li>
							<li><a href="#">Stories & Victories</a></li>

						</ul>
					</div>
					<div class="col-md-3">
						<h2>CONTACT</h2>
						<ul>
							<li>
								<div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
								<div class="ftext">+91 9717353657
									<br/> +91 9717353657</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<div class="ftext">info@your_email.Com</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
								<div class="ftext">House No. 52 , safipur, Unnao, Uttar Pradesh, India.
								</div>
							</li>
						</ul>
					</div>

				</div>

				<div class="copayright">
					<div class="copayright-left">gurukulsankalp.org 2020 | Designed by gurukulsankalp </div>
					<div class="copayright-right">
						<ul class="socail-icon">
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>
	<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-angle-up"></span>
	</div>
